module <%= project_name.camelize %>
  module Commands
    class ExampleCommand < BaseCommand
      def self.description
        "An example command that generates a story based on the command line arguments."
      end

      def execute(*args)
        puts <%= project_name.camelize %>::Generators::ExampleGenerator.new(input: args.join(" ")).generate
      end
    end
  end
end
